#MainMenu {visibility:hidden;}
footer {visibility:hidden;}
header {visibility:hidden;}

/* Centralizar o título da div Login */
.stMarkdown{
    text-align: center;
}

.stImage{
    align-items: center;
}
